In [2]:
import pandas as pd
import pyarrow.parquet as pq

In [8]:
import os

def get_file_extension(file_name):
    base, extension = os.path.splitext(file_name)
    if extension == '.gz':
        base, extension = os.path.splitext(base)
        extension += '.gz'
    return extension

file_name = "example.parquet"
extension = get_file_extension(file_name)
print("Extension:", extension)

Extension: .parquet

In [9]:
data = pd.read_csv('data/data.csv.gz')

/var/folders/z7/chybywhd5qv67xsrc82c0nmw0000gn/T/ipykernel_10337/496108772.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/data.csv.gz')

In [21]:
url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-09.csv.gz"
url2 = "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"

In [15]:
q = pd.read_csv(url)

/var/folders/z7/chybywhd5qv67xsrc82c0nmw0000gn/T/ipykernel_10337/3776844859.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  q = pd.read_csv(url)

In [16]:
q.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [17]:
q['lpep_pickup_datetime'] = pd.to_datetime(q['lpep_pickup_datetime'])
q['lpep_dropoff_datetime'] = pd.to_datetime(q['lpep_dropoff_datetime'])

In [19]:
from sqlalchemy import create_engine

uri = "postgresql://root:root@localhost:5432/ny_taxi"
engine = create_engine(uri)

In [20]:
q.to_sql("yellow_data", engine)

63

In [22]:
w = pd.read_csv(url2)

In [23]:
w

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [26]:
w.to_sql("borough", engine)

265

In [5]:
local_file_path = "data/yellow_tripdata.csv"

In [10]:
parquet_file = pq.ParquetFile(local_file_path)

In [12]:
total_rows = sum(parquet_file.metadata.num_rows for i in range(parquet_file.num_row_groups))

In [18]:
10*12*2519

302280

NameError: name 'datetime' is not defined

In [20]:
1.0473**10

1.587490135599207

In [16]:
chunk_size_mb = 10
rows_per_chunk = int(chunk_size_mb * 2**20 / parquet_file.metadata.schema[0].type.bit_width)

AttributeError: 'pyarrow._parquet.ColumnSchema' object has no attribute 'type'